
h1 {
    color:#FF2E2E ;
}
body {
    background-color: #371391;
}
.header{
    background-color: #371391;
    display : flex ;
    justify-content : space-between;
}
.grid{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.footer {
    display: flex;
    justify-content: flex-end;
}
p,h2 {
    text-align: center;
    color: chartreuse;
} 